
.container {
    width: 98%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 24px;
    color: #333;
}
p {
    font-size: 14px;
    color: #666;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
/* th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #00bfa5;
    color: white;
} */
.status-approved {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.status-rejected {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.status-pending {
    background-color: #9e9e9e;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.action-btn {
    background-color: #e0e0e0;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.send-btn {
    /* background: linear-gradient(to bottom right, #EF4765, #FF9A5A); */
    background: #22B6AF;
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }